@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --white-color-text: #ffffff;
  --black-color-text: #000000;
  --dark-green-color: #01383a;
  --light-green-color: #86e543;
  --grey-color: #8d9289;
  --light-grey-color: #cdcdcd;
  --transit-duration: 250ms;
  --transit-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.contacts {
  background-color: rgb(1, 72, 49);
  padding-top: 40px;
  padding-bottom: 48px;
}

.contacts-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.contacts-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}

.game-set-mob {
  padding: 0;
}

.contacts-content {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}

.contacts-list {
  margin-bottom: 24px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.contacts-text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}

.contacts-list {
  min-width: 147px;
}

.contacts-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-transform: capitalize;
  color: #8d9289;
}

.contacts-link-tel {
  margin-bottom: 8px;
}

.contactsForm-data {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #86e543;
}

.contactsForm-field:not(:last-child) {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contactsForm__input {
  padding-bottom: 4px;
  width: 100%;
  min-height: 24px;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #86e543;
}
.contactsForm__input:focus {
  outline: 1px solid #86e543;
}

.contactsForm-field input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
}

.contactsForm-field input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
}

.contactsForm-field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
}

.contactsForm-textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
}

textarea {
  margin-top: 4px;
  margin-bottom: 24px;
  resize: none;
  min-height: 95px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #86e543;
}

.contacts-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=index.css.map */