:root {
  --white-color-text: #ffffff;
  --black-color-text: #000000;
  --dark-green-color: #01383a;
  --light-green-color: #86e543;
  --grey-color: #8d9289;
  --light-grey-color: #cdcdcd;
}

body {
  font-family: 'Roboto', sans-serif;
}
