:root {
    --white-color-text: #FFFFFF;
    --black-color-text: #000000;
    --dark-green-color: #01383A;
    --light-green-color: #86E543;
    --grey-color: #8D9289;
    --light-grey-color: #CDCDCD;
}

body {
    font-family: Roboto, sans-serif;
}