<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Shop For Gamers</title>
    <link rel="icon" href="../favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <header>
      <include src="./partials/header.html"></include>
    </header>
    <main>
      <section class="blog">
        <div class="container list ">
            <h1 class="blog-title">Blog</h1>
            <svg class="arrow" width="320px" height="7px">
              <use href="./images/icons/icon.svg#icon-social-1"></use>
            </svg>
            <ul class="blog-list">
                <li class="cards"> 
                    <h2 class="cards-title">Guide to Picking The Right Gaming Headset</h2>
                          <picture>
                            <source srcset="./images/blog/blog-desktop-hand-1x-min.jpg 1x,
                            ./images/blog/blog-desktop-hand-2x-min.jpg 2x"
                            media="(min-width:1200px)"
                            />
                            <source srcset="./images/blog/blog-tablet-hand-1x-min.jpg 1x,
                            ./images/blog/blog-tablet-hand-2x-min.jpg 2x"
                            media="(min-width:768px)"
                            />
                            <source srcset="./images//blog/blog-mob-hand-1x-min.jpg 1x,
                            ./images/blog/blog-mob-hand-2x-min.jpg 2x"
                            media="(max-width:767px)"
                            />
                            <img
                              class="photo"
                              src="./images/blog/blog-desktop-hand-1x-min.jpg"
                              alt="By Ray Ian Ampoloquio"
                              width="450"
                            />
                           </picture>
        
                           <div class="blog-article">
                             <p class="blog-author">By Ray Ian Ampoloquio</p>
                             <h3 class="blog-updates">Updated on September 21, 2022</h3>
                               <p class="blog-text">Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
                                Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...
                               </p>
                               <a class="blog-moreinfo-link" href="#">Learn more</a>
                               </a>
                           </div>
                </li>

                <li class="cards">
                    <h2 class="cards-title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>
                    <picture>
                        <source srcset="./images/blog/blog-desktop-head-1x-min.jpg 1x,
                        ./images/blog/blog-desktop-head-2x-min.jpg 2x"
                        media="(min-width:1200px)"
                        />
                        <source srcset="./images/blog/blog-tablet-head-1x-min.jpg 1x,
                        ./images/blog/blog-tablet-head-2x-min.jpg 2x"
                        media="(min-width:768px)"
                        />
                        <source srcset="./images/blog/blog-mob-head-1x-min.jpg 1x,
                        ./images/blog/blog-mob-head-2x-min.jpg 2x"
                        media="(max-width:767px)"
                        />
                        <img
                          class="photo"
                          src="./images/blog/blog-desktop-head-1x-min.jpg"
                          alt="By Gab L"
                          width="450"
                        />
                       </picture>
    
                       <div class="blog-article">
                        <p class="blog-author">By Gab L</p>
                         <h3 class="blog-updates">Updated on September 10, 2022</h3>
                           <p class="blog-text">An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...
                           </p>
                           <a class="blog-moreinfo-link" href="#">Learn more</a>
                           </a>
                       </div>
                </li>

                <li class="cards"> 
                    <h2 class="cards-title">How to Choose the Right Gaming Mouse</h2>
                    <picture>
                        <source srcset="./images/blog/blog-desktop-laptop-1x-min.jpg 1x,
                        ./images/blog/blog-desktop-laptop-2x-min.jpg 2x"
                        media="(min-width:1200px)"
                        />
                        <source srcset="./images/blog/blog-tablet-laptop-1x-min.jpg 1x,
                        ./images/blog/blog-tablet-laptop-2x-min.jpg 2x"
                        media="(min-width:768px)"
                        />
                        <source srcset="./images/blog/blog-mob-laptop-1x-min.jpg 1x,
                        ./images/blog/blog-mob-laptop-2x-min.jpg 2x"
                        media="(max-width:767px)"
                        />
                        <img
                          class="photo"
                          src="./images/blog/blog-desktop-laptop-1x-min.jpg"
                          alt="By Michael Crider"
                          width="450"
                        />
                       </picture>
    
                       <div class="blog-article">
                        <p class="blog-author">By Michael Crider</p>
                         <h3 class="blog-updates">Updated on September 2, 2022</h3>
                           <p class="blog-text">A good mouse can make a big difference when playing your favorite games. Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...
                           </p>
                           <a class="blog-moreinfo-link" href="#">Learn more</a>
                           </a>
                       </div>
                </li>
            </ul>

        </div>
    </section>
    </main>
    <footer>
      <include src="./partials/footer.html"></include>
    </footer>
  </body>
</html>
