<div class="footer-container container">
  <a class="logo" href="">Shop for <br />gamers</a>

  <div class="thumb-footer">
    <ul class="menu-nav">
      <li class="item">
        <a class="link" href="./accessories.html">Accessories</a>
      </li>
      <li class="item"><a class="link" href="">Take order</a></li>
      <li class="item"><a class="link" href="">Contact</a></li>
      <li class="item"><a class="link" href="">Blog</a></li>
    </ul>

    <ul class="socials">
      <li class="socials-item">
        <a class="socials-link" href="https://www.instagram.com">
          <svg
            class="socials-icon"
            width="12"
            height="12"
            aria-label="Link Instagram"
          >
            <use href="./images/icons/icon.svg#icon-social-1"></use>
          </svg>
        </a>
      </li>

      <li class="socials-item">
        <a class="socials-link" href="https://www.youtube.com/">
          <svg
            class="socials-icon"
            width="12"
            height="12"
            aria-label="Link Youtube"
          >
            <use href="./images/icons/icon.svg#icon-social-2"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a class="socials-link" href="https://www.facebook.com">
          <svg
            class="socials-icon"
            width="12"
            height="12"
            aria-label="Link Facebook"
          >
            <use href="./images/icons/icon.svg#icon-social-3"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <address class="address">
    <ul class="address-list">
      <li class="mail-item">
        <p class="mail-title">Email</p>
        <a class="mail-link" href="">sfg.info@gmail.com</a>
      </li>
      <li class="phone-item">
        <p class="phone-title">Phone number</p>
        <ul class="phone-list list">
          <li class="phone-item">
            <a class="phone-link" href="">+38 (093) 643 22 88</a>
          </li>
          <li class="phone-item">
            <a class="phone-link" href="">+38 (050) 345 44 23</a>
          </li>
        </ul>
      </li>
    </ul>
  </address>
</div>
