<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- 1 -->
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/slider/slide-one.jpg    1x,
              ./images/slider/slide-one-2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/slider/slide-one-tab.jpg    1x,
              ./images/slider/slide-one-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/slider/slide-one-mob.jpg    1x,
              ./images/slider/slide-one-mob-2x.jpg 2x
            "
          />
          <img src="./images/slider/slide-three-mob.jpg" alt="slide one" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/slider/slide-two.jpg    1x,
              ./images/slider/slide-two-2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/slider/slide-two-tab.jpg    1x,
              ./images/slider/slide-two-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/slider/slide-two-mob.jpg 1x,
              ./images/slider/slide-two-mob.jpg 2x
            "
          />
          <img src="./images/slider/slide-two-mob.jpg" alt="slide two" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/slider/slide-three.jpg    1x,
              ./images/slider/slide-three-2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/slider/slide-three-tab.jpg    1x,
              ./images/slider/slide-three-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/slider/slide-three-mob.jpg 1x,
              ./images/slider/slide-three-mob.jpg 2x
            "
          />
          <img src="./images/slider/slide-one-mob.jpg" alt="slide three" />
        </picture>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>
