<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="./images/slider/banner.png"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/slider/slide-tab.png"
          />
          <img src="./images/slider/slide-mob.png" alt="banner-one" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="./images/slider/banner-two.png"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/slider/slide-tab.png"
          />
          <img
            src="./images/slider/slide-mob.png
          "
            alt="banner-one"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="./images/slider/banner-three.png"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/slider/slide-tab.png"
          />
          <img src="./images/slider/slide-mob.png" alt="banner-one" />
        </picture>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>
