<div class="container header-container">
  <a class="logo" href="./index.html">SHOP FOR GAMERS</a>

  <div class="btn-area">
    <button
      type="button"
      class="menu-open-btn btn"
      data-menu-open
      data-menu-mobBtn
    >
      <svg width="54" height="36">
        <use href="./images/icons/icon.svg#icon-menu-btn"></use>
      </svg>
    </button>
    <button type="button" class="menu-close-btn btn" data-menu-close>
      <svg width="36" height="36">
        <use href="./images/icons/icon.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="nav">
    <ul class="navigation list">
      <li><a class="link navigation-link" href="">Accessories</a></li>
      <li><a class="link navigation-link" href="">Contact</a></li>
      <li><a class="link navigation-link" href="">Blog</a></li>
    </ul>
  </nav>

  <a class="btn header-btn shop-btn" href="">Shop now</a>
</div>
<!-- додати посилання з кнопки на аксесуарс коли буде сторінка -->
<!-- додати посилання з навігації -->

<div class="mobile-modal is-hidden" data-menu>
  <ul class="mobile-modale-list list">
    <li><a class="mobile-link link" href="">accessories</a></li>
    <li><a class="mobile-link link" href="./contacts.html">contact</a></li>
    <li><a class="mobile-link link" href="">blog</a></li>
  </ul>
</div>
