<button type="button" class="header-btn">Shop now</button>
<br />
<button type="button" class="hero-btn">Start shopping</button>
<br />
<button type="button" class="viewall-btn">View all</button>
<br />
<button type="button" class="viewall-btn1">View all</button>
<button type="button" class="filter-btn">All</button>
<button type="button" class="filter-btn">Headsets</button>
<button type="button" class="filter-btn">Keyboards</button>
<button type="button" class="filter-btn">Mouses</button>
<button type="button" class="addcard-btn">Add to cart</button>
