<div class="backdrop is-hidden" data-add>
  <div class="modal">
    <button type="button" data-add-close class="modal-close-btn">
      <svg class="icon-circle-close" width="40" height="40">
        <use href="./images/icons/icon.svg#icon-circle-close"></use>
      </svg>
    </button>
    <p class="modal-text-add">
      Excellent choice! Let's move on to the checkout!
    </p>
    <a href="./index.html">
      <button class="confirm-btn" type="button">Let's go!</button>
    </a>
  </div>
</div>
