<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close class="modal-close-btn">
      <svg class="icon-circle-close" width="40" height="40">
        <use href="./images/icons/icon.svg#icon-circle-close"></use>
      </svg>
    </button>
    <p class="modal-text-order">
      Thank you for your order! We will contact you soon!
    </p>
    <a href="./index.html">
      <button class="confirm-btn" type="button">KEEP SHOPPING</button>
    </a>
  </div>
</div>
