.accessories {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: $mobile;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #01383a;

  @include tablet {
    min-width: $tablet;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #01383a;
  }

  @include desktop {
    min-width: $desktop;
    background-color: #01383a;
  }
}

.accessories-filter {
  display: flex;
  width: 272px;
  margin: 0 auto;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 32px;
  @include tablet {
    width: 100%;
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  @include desktop {
    gap: 44px;
    justify-content: center;
  }
}

.accessories-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 38px;
    justify-content: center;
  }
  @include desktop {
    column-gap: 20px;
    justify-content: flex-start;
  }
}

.accessories-list::after {
  content: '';
  display: flex;
  width: 168px;
  height: 16px;
  margin: 0 auto;
  margin-top: 24px;
  background-image: url(../images/accessories/slider.png);
  @include tablet {
    margin-top: 32px;
  }

  @include desktop {
    background-image: url(../images/accessories/slider-desktop.png);
    width: 104px;
    order: 5;
  }
}

.accessories-item {
  display: none;
  @include tablet {
    width: 285px;
  }
}

.accessories-item:nth-child(-n + 12) {
  display: block;
  @include desktop {
    display: none;
  }
}

.accessories-item:nth-child(2n + 2) {
  display: none;
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: none;
  }
}

.accessories-item:nth-last-child(-n + 4) {
  @include tablet {
    display: none;
  }
}

.accessories-item.accessories-item__first {
  @include desktop {
    display: flex;
  }
}

.accessories-item.accessories-item__second {
  @include desktop {
    display: flex;
    order: 1;
  }
}

.accessories-item.accessories-item__third {
  @include desktop {
    display: flex;
    order: 2;
  }
}

.accessories-item.accessories-item__fourth {
  @include desktop {
    display: flex;
    order: 3;
  }
}

.accessories-item:nth-child(-n + 10) {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 0px;
  }
}

.accessories-title {
  position: relative;
  color: var(--white-color-text);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  margin-left: -2px;
  margin-bottom: 27px;

  @include tablet {
    margin-left: 102px;
    font-size: 56px;
    line-height: 1.18;
    margin-bottom: 51px;
  }
}

.accessories-title::before {
  content: '';
  position: absolute;
  left: -15px;
  right: -18px;
  bottom: -35px;
  top: 25px;
  margin-bottom: 10px;
  background-image: url(../images/accessories/icon-line-mobile-1.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    left: -142px;
    right: -40px;
    top: 55px;
    background-image: url(../images/accessories/icon-line-tablet-1.png);
  }

  @include desktop {
    background-image: url(../images/accessories/icon-line-desktop-1.png);
  }
}

.accessories-title::after {
  content: '';
  position: absolute;
  left: -15px;
  right: -18px;
  bottom: -43px;
  top: 30px;
  background-image: url(../images/accessories/icon-line-mobile-2.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    left: -142px;
    right: -40px;
    bottom: -35px;
    top: 63px;
    background-image: url(../images/accessories/icon-line-tablet-2.png);
  }

  @include desktop {
    background-image: url(../images/accessories/icon-line-desktop-2.png);
  }
}

.accessories-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.accessories-txt {
  position: absolute;
  color: var(--white-color-text);
  background-color: var(--dark-green-color);
  padding: 16px;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;

  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accessories-link:hover .accessories-txt,
.accessories-link:focus .accessories-txt {
  transform: translateY(0%);
}

.accessories-link:hover .accessories-thumb,
.accessories-link:focus .accessories-thumb {
  border: 1px solid var(--light-green-color);
}

.accessories-data {
  padding: 8px 16px 8px 8px;
}

.accessories-name {
  color: var(--light-green-color);

  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 8px;
}

.old-price {
  display: flex;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration: line-through;
}

.new-price {
  display: flex;
  color: var(--light-green-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.accessories-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
