.gallery {
  padding-top: 120px;
  background-image: url(../images/slider/gallery-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include retina {
    background-image: url(../images/slider/gallery-bg-2x.png);
  }
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.swiper-pagination {
  position: relative;
  top: 24px;
  margin-bottom: 48px;
  @include tablet {
    margin-bottom: 120px;
  }
  @include desktop {
    margin-bottom: 120px;
  }
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 40px;
  height: 16px;

  background: #ffffff;
  border-radius: 30px;
}
