.index-wrapper {
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 767px) {
    background-image: url(../images/slider/bg-mob.jpg);

    @include retina {
      background-image: url(../images/slider/bg-mob-2x.jpg);
    }
  }

  @include desktop {
    width: $desktop;
    background-image: url(../images/slider/bg-desktop.jpg);

    @include retina {
      background-image: url(../images/slider/bg-desktop-2x.jpg);
    }
  }
}

.gallery {
  padding-bottom: 68px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: 5;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 147px;
  }
  @include desktop {
    padding-bottom: 121px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.swiper-pagination {
  position: relative;
  top: 24px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 40px;
  height: 16px;

  background: #ffffff;
  border-radius: 30px;
}
