.hero {
  background-image: url(../images/hero/hero-mob.png);
  background-position-y: -104px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  height: 497px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
  @include retina {
    background-image: url(../images/hero/hero-mob-2x.png);
    background-position-y: -104px;
  }
  @include tablet {
    background-image: url(../images/hero/hero-tab.png);
    background-position-y: -136px;
    min-width: 768px;
    height: 724px;
    padding-left: 40px;
    padding-top: 154px;
    @include retina {
      background-image: url(../images/hero/hero-tab-2x.png);
      background-position-y: -136px;
    }
  }
  @include desktop {
    background-image: url(../images/hero/hero-bgr.png);
    background-position-y: -136px;
    opacity: 0.8;
    min-width: 1280px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 180px;
    padding-left: 8px;

    @include retina {
      background-image: url(../images/hero/hero-bgr-2x.png);
    }
  }
}

.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  width: 247px;
  color: var(--white-color-text);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  @include tablet {
    font-size: 56px;
    line-height: 1.17;
    width: 388px;
    text-align: start;
    margin: 0;
    margin-bottom: 94px;
  }
  @include desktop {
    font-size: 64px;
    line-height: 1.17;
    width: 515px;
    text-align: start;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-left: 142px;
  }
}

.big-gn-btn {
  margin: 0 auto;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    margin-left: 142px;
  }
}

.hero-title-mob {
  width: 180px;
  display: block;
  margin: 0 auto;
  @include tablet {
    width: 388px;
    display: inline;
  }
  @include desktop {
    width: 515px;
    display: inline;
  }
}
