.sale-page {
  background-color: #01383a;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  min-width: 320px;
  max-width: $mobile;

  @include tablet {
    max-width: $tablet;
    padding-bottom: 120px;
  }
  @include desktop {
    max-width: $desktop;
  }
}

.sale-list {
  margin-bottom: 40px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 38px;
    justify-content: center;
    margin-bottom: 28px;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 20px;
    justify-content: flex-start;
    padding: 0;
  }
}

.sale-item:nth-last-child(2n + 1) {
  display: none;
  @include tablet {
    display: flex;
  }
}

.sale-item:not(:last-child) {
  margin-bottom: 12px;
}

.sale-item {
  @include tablet {
    width: 285px;
  }
}

.sale-item:nth-child(n + 2):nth-child(-n + 4) {
  @include desktop {
    display: flex;
  }
}

.sale-title {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  margin-left: 80px;
  color: #ffffff;
  margin-bottom: 35px;
  @include tablet {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.18;
    margin-bottom: 51px;
    margin-left: 102px;
    color: #ffffff;
  }
  @include desktop {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.18;
    margin-left: 142px;
    color: #ffffff;
    margin-bottom: 43px;
  }
}

.sale-title::before {
  content: '';
  position: absolute;
  left: -96px;
  right: -16px;
  top: 25px;
  height: 40px;
  background-image: url(../images/accessories/icon-line-mobile-1.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    left: -142px;
    right: -40px;
    top: 55px;
    background-image: url(../images/accessories/icon-line-tablet-1.png);
  }

  @include desktop {
    top: 43px;
    left: -182px;
    height: 60px;
    background-image: url(../images/accessories/icon-line-desktop-1.png);
  }
}

.sale-title::after {
  content: '';
  position: absolute;
  left: -96px;
  right: -16px;
  top: 32px;
  height: 40px;
  background-image: url(../images/accessories/icon-line-mobile-2.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    left: -142px;
    right: -40px;
    bottom: -35px;
    top: 63px;
    background-image: url(../images/accessories/icon-line-tablet-2.png);
  }

  @include desktop {
    top: 55px;
    left: -182px;
    background-image: url(../images/accessories/icon-line-desktop-2.png);
  }
}

.sale-list-content {
  padding: 8px 16px 8px 8px;
}

.sale-top-text {
  width: 261px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
}

.sale-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale-old-price {
  display: flex;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration: line-through;
}

.sale-new-price {
  color: var(--light-green-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.sale-image {
  border-radius: 12px;
}
