.sale-page{
 
   @include desktop{
        background-image: url(../images/sale-section/backgd-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        @include retina{
            background-image: url(../images/sale-section/backgd-desktop-2x.jpg);
        }
    }
    @include tablet{
        background-image: url(../images/sale-section/backgd-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        
    }
}
.sale-list{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 38px;
        padding: 0 40px 0 40px;
      }
      @include desktop{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
        padding: 0;
      }
}

.sale-item{
    @include tablet{
        width: 285px;
    }
  
}
.sale-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-left: 80px;
    color:  #FFFFFF;
    padding-bottom: 35px;
    @include tablet{
        font-weight: 600;
        font-size: 56px;
        line-height: 66px;
        padding-left: 142px;
        color:  #FFFFFF;
    }
   @include desktop{
    font-weight: 600;
        font-size: 56px;
        line-height: 66px;
        padding-left: 142px;
        color:  #FFFFFF;
       padding-bottom: 43px;
   }
    }
    .sale-list-content{
        padding-top: 8px;
        padding-bottom: 12px;
    }
    .sale-top-text{
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #86E543;
        padding-left: 8px;
        padding-right: 16px;
    }
    .sale-old-price{
        display: flex;
        color: var(--grey-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        text-decoration: line-through;
        
    }
    .sale-new-price{
        display: flex;
        color: var(--light-green-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1;

    }
    .sale-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 16px;
    }
    .sale-thumb{
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid var(--li);
  }