.sale-container {
  @media screen and (max-width: $tablet) {
    padding: 0 18px 0 17px;
  }
}

.sale-page {
  background-color: darkgreen;

  @include tablet {
    background-image: url(../images/sale-section/backgd-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    background-image: url(../images/sale-section/backgd-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    max-width: 1280px;
    @include retina {
      background-image: url(../images/sale-section/backgd-desktop-2x.jpg);
    }
  }
}

.sale-products {
  @include desktop {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
  }
}

.sale-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 38px;
    padding: 0 40px 0 40px;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 20px;
    justify-content: flex-start;
    padding: 0;
  }
}

.sale-item {
  @include tablet {
    width: 285px;
  }
}

.sale-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-left: 80px;
  color: #ffffff;
  margin-bottom: 35px;
  @include tablet {
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    margin-left: 142px;
    color: #ffffff;
  }
  @include desktop {
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    margin-left: 142px;
    color: #ffffff;
    margin-bottom: 43px;
  }
}
.sale-list-content {
  padding: 0 16px 8px 8px;
}

.sale-top-text {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
}

.sale-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale-old-price {
  display: flex;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration: line-through;
}

.sale-new-price {
  margin-right: 19px;
  color: var(--light-green-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.sale-thumb {
  //   position: relative;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--li);
}

.sale-link {
  display: inline-block;
  margin: 0 auto;
}
