.take-order {
  background-color: #01383a;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-top: 40px;
  padding-bottom: 48px;
  max-width: $mobile;

  @include tablet {
    max-width: $tablet;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    max-width: 100%;
  }
}

.take-order__title {
  position: relative;
  color: var(--white-color-text);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 35px;

  @include tablet {
    font-size: 56px;
    margin-bottom: 51px;
    margin-left: 59px;
  }

  @include desktop {
    margin-bottom: 75px;
  }
}

.take-order__title:before {
  position: absolute;
  content: '';
  left: -16px;
  right: -16px;
  top: 25px;
  height: 72px;
  background-image: url(/src/images/take-order/icon-line-mobile-1.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    left: -100px;
    right: -40px;
    top: 35px;
    height: 72px;
    background-image: url(/src/images/take-order/icon-line-tablet-1.png);
  }

  @include desktop {
    height: 72px;
    top: 55px;
    background-image: url(/src/images/take-order/icon-line-desktop-1.png);
    right: -40px;
  }
}

.take-order__title::after {
  position: absolute;
  content: '';
  left: -16px;
  right: -16px;
  top: 30px;
  height: 72px;
  background-image: url(/src/images/take-order/icon-line-mobile-2.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    left: -100px;
    right: -40px;
    top: 43px;
    height: 72px;
    background-image: url(/src/images/take-order/icon-line-tablet-2.png);
  }

  @include desktop {
    top: 63px;
    right: -40px;
    background-image: url(/src/images/take-order/icon-line-desktop-2.png);
  }
}

.take-order__name {
  color: var(--white-color-text);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  margin-bottom: 16px;
  @include tablet {
    font-size: 55px;
    line-height: 1.17;
    margin-bottom: 24px;
  }
  @include desktop {
    font-size: 56px;
    line-height: 1.16;
    margin-bottom: 32px;
  }
}

.take-order__name--first {
  @include desktop {
    display: none;
  }
}

.take-order__name--second {
  display: none;
  @include desktop {
    display: inline-block;
  }
}

.take-order__image--big {
  @include tablet {
    width: 387px;
  }
}

.take-order__image {
  @include tablet {
    width: 154px;
  }
  @include desktop {
    width: 155px;
  }
}

.take-order-nameprice {
  @include tablet {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
    align-items: center;
  }
  @include desktop {
    gap: 121px;
    margin-bottom: 48px;
    align-items: stretch;
  }
}

.take-order__price {
  display: flex;
  height: 72px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;

  @include tablet {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }
}

.take-order__left {
  display: flex;
  flex-direction: column;
}

.take-order__price-old {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-decoration: line-through;
  @include desktop {
    margin-right: 40px;
  }
}

.take-order__price-new {
  color: var(--light-green-color);

  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  @include tablet {
    margin-top: 56px;
  }

  @include desktop {
    margin-top: 0px;
  }
}

.take-order__small-foto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 48px;
  }
  @include desktop {
    margin-bottom: 0px;
  }
}

.take-order__small-foto--two {
  @include desktop {
    display: none;
  }
}

.take-order__small-foto--one {
  display: none;
  @include desktop {
    display: flex;
  }
}

.take-order__contacts {
  margin-bottom: 24px;
}

.take-order__contacts--desktop {
  @include desktop {
    display: flex;
    gap: 20px;
  }
}

.take-order__contacts--title {
  color: var(--light-green-color);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.take-order__input {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-green-color);
}

.take-order__input::placeholder {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.take-order__field:hover .take-order__input::placeholder,
.take-order__field:focus .take-order__input::placeholder {
  color: var(--light-green-color);
}

.browsers-option {
  background-color: transparent;
  width: 100%;
}

.browsers-option:not(:first-child) {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  margin-top: 4px;
}

.take-order__field {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 40px;

  @include desktop {
    width: 590px;
  }
}

.take-order__textarea {
  width: 100%;
  height: 97px;
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid var(--light-green-color);
  @include desktop {
    width: 589px;
    height: 256px;
  }
}

.btn-first {
  margin-bottom: 16px;
  width: 173px;
  @include tablet {
    margin-bottom: 24px;
  }
  @include desktop {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.take-order__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
}
