* {
  outline: 1px solid green;
}

footer {
  padding-top: 25px;
  padding-bottom: 24px;

  background-color: #001414;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-container {
  @include tablet {
    display: flex;
  }
}

.thumb-footer {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @include tablet {
    margin-right: 73px;
  }

  @include desktop {
    margin-right: 281px;
  }
}

.logo {
  min-width: 116px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-color-text);
  transition: background-color var(--transit-duration) var(--transit-timing);

  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-bottom: 25px;
  }

  @include tablet {
    margin-bottom: auto;
    margin-right: 61px;
  }

  @include desktop {
    min-width: 187px;
    margin-right: 118px;

    text-align: center;
  }
}

.logo:hover,
.logo:focus {
  color: var(--light-green-color);
}

.menu-nav {
  margin-right: 160px;

  @include tablet {
    margin-right: 89px;
  }

  @include desktop {
    margin-right: 217px;
  }
}

.menu-nav .link {
  display: inline-block;
  padding-bottom: 7px;
  position: relative;

  // padding-bottom: 7px;
  // position: relative;
  // border-bottom: 1px solid transparent;
  // transition: color 5250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .menu-nav .link::after {
//   display: block;
//   content: '';
//   position: absolute;
//   border-bottom: 1px solid #86e543;
// }

.menu-nav .link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  // width: 0%;
  width: 100%;
  opacity: 0;
  height: 1px;
  background-color: red;
}

.menu-nav .link:hover::before {
  opacity: 1;
  // width: 100%;
  transition: opacity var(--transit-duration) var(--transit-timing);
}

// .menu-nav .link:hover {
//   border-color: #86e543;
// }

.menu-nav > .item:not(:last-child) {
  margin-bottom: 8px;
}

.menu-nav .link {
  font-weight: 400;
  font-size: 16;
  line-height: 1;
  color: var(--white-color-text);
}

.socials {
  @include tablet {
    display: flex;
  }

  @include desktop {
    gap: 16px;
    flex-direction: column;
    justify-content: center;
  }
}

.socials-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 16px;
  }
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  fill: #001414;
  background-color: var(--white-color-text);
  transition: background-color var(--transit-duration) var(--transit-timing);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--light-green-color);
  // fill: var();
}

// .socials-icon {
//   transition: fill var(--transit-duration, --transit-timing);
// }

.address-list {
  font-style: normal;
}

.mail-item {
  margin-bottom: 16px;
}

.mail-title,
.phone-title {
  margin-bottom: 8px;
  // font-weight: 400;
  // font-size: 16px;
  line-height: 1.19;
  color: var(--white-color-text);
}

.mail-link,
.phone-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  transition: background-color var(--transit-duration) var(--transit-timing);
}

.mail-link:hover,
.mail-link:focus,
.phone-link:hover,
.phone-link:focus {
  color: var(--light-green-color);
}

.phone-item:not(:last-child) {
  margin-bottom: 8px;
}
