.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 16px;
  background-color: var(--dark-green-color);
  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
  @include tablet {
    padding: 40px;
  }
}
.logo {
  display: inline-block;
  max-width: 120px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-color-text);
  @include tablet {
    margin-right: 161px;
  }
  @include desktop {
    margin-right: 343px;
  }
}
.menu-open-btn.btn {
  background-color: transparent;
  border: none;
  fill: var(--light-green-color);
  @include desktop {
    display: none;
  }
}
.nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.navigation {
  display: flex;
  gap: 48px;
}
.navigation-link {
  padding: 10px 0;

  font-size: 16px;
  line-height: 1;
  color: var(--white-color-text);
}

.header-btn.shop-btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    margin-left: auto;
  }
}
