.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 20, 20, 0.8);
  border: 1px solid #000000;
  transition: opacity var(--transit-duration) var(--transit-timing),
    visibility var(--transit-duration) var(--transit-timing);
  z-index: 1;
}

.modal {
  @media screen and (min-width: 320px) {
    width: 272px;
  }

  @include tablet {
    width: 688px;
    padding: 100px 70px;
  }
  @include desktop {
    width: 768px;
    padding: 100px 70px;
  }

  background-color: var(--dark-green-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transit-duration) var(--transit-timing);
  padding: 100px 40px;
  text-align: center;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark-green-color);
  border: 1.9px solid var(--light-green-color);
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transit-duration) var(--transit-timing);
  &:hover,
  &:focus {
    background-color: rgb(6, 97, 65);
  }
}

.icon-circle-close {
  fill: var(--light-green-color);
  padding: 8px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.confirm-btn {
  width: 173px;
  @include tablet {
    width: 306px;
  }
  @include desktop {
    width: 306px;
  }
  padding-top: 16px;
  padding-bottom: 16px;
  background: var(--light-green-color);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 32px;
  }
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-green-color);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  border-color: transparent;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color var(--transit-duration) var(--transit-timing);
  &:hover,
  &:focus {
    background-color: rgb(11, 182, 122);
  }
}

.modal-text-add {
  @include tablet {
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    font-size: 64px;
    line-height: 1.17;
  }
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-color-text);
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 56px;
  }
  @include desktop {
    margin-bottom: 56px;
  }
}
.modal-text-contact {
  @include tablet {
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    font-size: 64px;
    line-height: 1.17;
  }
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-color-text);
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 80px;
  }
  @include desktop {
    margin-bottom: 80px;
  }
}

.modal-text-order {
  @include tablet {
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    font-size: 64px;
    line-height: 1.17;
  }
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-color-text);
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 56px;
  }
  @include desktop {
    margin-bottom: 56px;
  }
}
